In [23]:
import pandas as pd
import numpy as np

import xlrd
import glob

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [24]:
df = pd.read_csv("../../data/sim1/data_1.csv")
print(df.shape)
print(df.head())

(132789, 12)
   Time     Speed  Acceleration  Steering  Lane.Position  Breathing  Heart  \
0     1  0.013002           0.0  0.001534        1.92500        NaN    NaN
1     2  0.012978           0.0  0.001534        1.92500        NaN    NaN
2     3  0.012996           0.0  0.001534        1.92500        NaN    NaN
3     4  0.017026           0.0  0.001534        1.92500        NaN    NaN
4     5  0.366060           0.0  0.012454        1.92499       17.1   58.8

         Palm  Perinasal  Distraction  Drive  Subject
0         NaN        NaN            0      0        1
1         NaN        NaN            0      0        1
2         NaN        NaN            0      0        1
3         NaN        NaN            0      0        1
4  103.449492   0.005336            0      0        1

In [25]:
df.Drive.unique()

array([0, 1, 2, 3, 4, 5])

In [26]:
def set_drive_label(row):
    if row.Drive == 0:
        return 'RD'
    elif row.Drive == 1:
        return 'ND'
    elif row.Drive == 2:
        return 'CD'
    elif row.Drive == 3:
        return 'MD'
    elif row.Drive == 4:
        return 'ED'
    elif row.Drive == 5:
        return 'FD'
    
    
df['Drive_Label'] = df.apply(lambda row: set_drive_label(row), axis=1)
df.head()

,Time,Speed,Acceleration,Steering,Lane.Position,Breathing,Heart,Palm,Perinasal,Distraction,Drive,Subject,Drive_Label
0,1,0.013002,0.0,0.001534,1.92500,NaN,NaN,NaN,NaN,0,0,1,RD
1,2,0.012978,0.0,0.001534,1.92500,NaN,NaN,NaN,NaN,0,0,1,RD
2,3,0.012996,0.0,0.001534,1.92500,NaN,NaN,NaN,NaN,0,0,1,RD
3,4,0.017026,0.0,0.001534,1.92500,NaN,NaN,NaN,NaN,0,0,1,RD
4,5,0.366060,0.0,0.012454,1.92499,17.1,58.8,103.449492,0.005336,0,0,1,RD

In [27]:
nasa_file_paths = glob.glob("../../data/sim1/psychometrics/*/*.bar")
stai_file_paths = glob.glob("../../data/sim1/psychometrics/*/*.tp")
bio_file_paths  = glob.glob("../../data/sim1/psychometrics/*/*.b")

# nasa_file_paths[0:4]

In [28]:
nasa_df = pd.DataFrame()

for file_path in nasa_file_paths:
# for file_path in nasa_file_paths[0:1]:

    work_book = xlrd.open_workbook(file_path)
    subj_df = pd.read_excel(work_book, index_col=None, na_values=['NA'])[7:]
    subj_df.rename(columns=subj_df.iloc[0], inplace = True)
    subj_df.drop(subj_df.index[0], inplace = True)
    subj_df.rename(columns={'FDN': 'FD'}, inplace=True)
    # print(subj_df)
    
    #----- Coverting - Columns to Rows -----#
    subj_df = subj_df.melt(id_vars=['Response'], var_name='Drive_Label', value_name='Score')
    # print(subj_df.columns)
    # print(subj_df)
    
    #----- Coverting - Rows to Columns -----#
    subj_df = subj_df.pivot(index='Drive_Label', columns='Response', values='Score').reset_index()
    subj_df['Subject'] = int(file_path[-7:-4])
    # print(subj_df)
    
    #----- Summation - Nasa -----#
    nasa_cols = ['Effort', 'Frustration', 'Mental Demand', 'Performance', 'Physical Demand', 'Temporal Demand']
    subj_df[nasa_cols] = subj_df[nasa_cols].apply(pd.to_numeric) # Without converting, it was giving NAN summation for some cases
    subj_df['NASA Total Sum'] = subj_df[nasa_cols].sum(axis=1)
    
    nasa_df = nasa_df.append(subj_df)
    
print(len(nasa_df.Subject.unique()))
print(nasa_df.head(10))

32
Response Drive_Label  Effort  Frustration  Mental Demand  Performance  \
0                 CD    17.0         10.0           18.0          5.0
1                 ED    11.0          2.0           15.0          5.0
2                 FD    11.0          6.0           12.0         11.0
3                 MD    16.0          5.0           14.0         11.0
4                 ND     4.0          3.0            4.0          2.0
5                 RD     4.0          1.0           10.0          7.0
0                 CD     5.0          3.0            5.0          6.0
1                 ED     3.0          3.0            5.0          4.0
2                FDL     8.0          6.0           12.0         10.0
3                 MD    12.0          6.0           10.0          7.0

Response  Physical Demand  Temporal Demand  Subject  NASA Total Sum
0                    11.0             14.0       17            75.0
1                     4.0             11.0       17            48.0
2                    11.0             13.0       17            64.0
3                    14.0             11.0       17            71.0
4                     4.0              4.0       17            21.0
5                     3.0              2.0       17            27.0
0                     3.0              3.0       81            25.0
1                     3.0              3.0       81            21.0
2                     7.0              6.0       81            49.0
3                     6.0              7.0       81            48.0

In [29]:
nasa_df[nasa_df.isna().any(axis=1)]

Response,Drive_Label,Effort,Frustration,Mental Demand,Performance,Physical Demand,Temporal Demand,Subject,NASA Total Sum
2,FDL,NaN,NaN,NaN,NaN,NaN,NaN,68,0.0
5,RD,4.0,NaN,10.0,2.0,7.0,8.0,68,31.0
2,FDL,18.0,18.0,NaN,19.0,19.0,18.0,31,92.0

In [30]:
print(nasa_df.shape)
nasa_df.dropna(inplace=True)
print(nasa_df.shape)
nasa_df = nasa_df[nasa_df.Subject != 68]
print(nasa_df.shape)


print(nasa_df[nasa_df.isna().any(axis=1)])

(192, 9)
(189, 9)
(185, 9)
Empty DataFrame
Columns: [Drive_Label, Effort, Frustration, Mental Demand, Performance, Physical Demand, Temporal Demand, Subject, NASA Total Sum]
Index: []

In [31]:
# temp_nasa_df = nasa_df.head(10)

In [32]:
def get_normalized_val(row, col):
    rd_val = nasa_df[(nasa_df.Subject==row.Subject) & (nasa_df.Drive_Label=='RD')].iloc[0][col]
    return row[col] - rd_val
    
    
nasa_cols = ['NASA Total Sum', 'Effort', 'Frustration', 'Mental Demand', 'Performance', 'Physical Demand', 'Temporal Demand']

for col in nasa_cols:
    nasa_df[col + ' - Normalized'] = nasa_df.apply(lambda row: get_normalized_val(row, col), axis=1)

nasa_df.head(10)

Response,Drive_Label,Effort,Frustration,Mental Demand,Performance,Physical Demand,Temporal Demand,Subject,NASA Total Sum,NASA Total Sum - Normalized,Effort - Normalized,Frustration - Normalized,Mental Demand - Normalized,Performance - Normalized,Physical Demand - Normalized,Temporal Demand - Normalized
0,CD,17.0,10.0,18.0,5.0,11.0,14.0,17,75.0,48.0,13.0,9.0,8.0,-2.0,8.0,12.0
1,ED,11.0,2.0,15.0,5.0,4.0,11.0,17,48.0,21.0,7.0,1.0,5.0,-2.0,1.0,9.0
2,FD,11.0,6.0,12.0,11.0,11.0,13.0,17,64.0,37.0,7.0,5.0,2.0,4.0,8.0,11.0
3,MD,16.0,5.0,14.0,11.0,14.0,11.0,17,71.0,44.0,12.0,4.0,4.0,4.0,11.0,9.0
4,ND,4.0,3.0,4.0,2.0,4.0,4.0,17,21.0,-6.0,0.0,2.0,-6.0,-5.0,1.0,2.0
5,RD,4.0,1.0,10.0,7.0,3.0,2.0,17,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,CD,5.0,3.0,5.0,6.0,3.0,3.0,81,25.0,9.0,1.0,2.0,2.0,2.0,1.0,1.0
1,ED,3.0,3.0,5.0,4.0,3.0,3.0,81,21.0,5.0,-1.0,2.0,2.0,0.0,1.0,1.0
2,FDL,8.0,6.0,12.0,10.0,7.0,6.0,81,49.0,33.0,4.0,5.0,9.0,6.0,5.0,4.0
3,MD,12.0,6.0,10.0,7.0,6.0,7.0,81,48.0,32.0,8.0,5.0,7.0,3.0,4.0,5.0

In [33]:
stai_df = pd.DataFrame()

for file_path in stai_file_paths:
# for file_path in stai_file_paths[0:1]:
    file = open(file_path)
    subj_df = pd.DataFrame({'Subject': [int(file_path[-6:-3])],
                            'STAI': [int(file.readline()[4:])],
                            'Type_AB': [int(file.readline()[9:])]})
    
    stai_df = stai_df.append(subj_df)

print(len(stai_df.Subject.unique()))
print(stai_df.STAI.min(), stai_df.STAI.max())

32
20 52

In [34]:
bio_df = pd.DataFrame()

for file_path in bio_file_paths:
# for file_path in bio_file_paths[0:1]:
    file = open(file_path)
    subj_df = pd.DataFrame({'Subject': [int(file_path[-5:-2])],
                            'Gender': [file.readline()[:-1]],
                            'Age': [int(file.readline())]})
    
    bio_df = bio_df.append(subj_df)
    
print(len(bio_df.Subject.unique()))

32

In [35]:
print(bio_df.Gender.unique())
# bio_df['Gender'] = bio_df['Gender'].map({'female': 'Female', 'Male': 'Male'})
bio_df['Gender'] = bio_df['Gender'].replace(['female'], 'Female')
print(bio_df.Gender.unique())

['Male' 'Female' 'female']
['Male' 'Female']

# Merging Dataframes

In [36]:
bio_stai_df = bio_df.merge(stai_df, on="Subject", how='inner')
print(bio_stai_df.shape)
print(bio_stai_df.head())

(32, 5)
   Subject  Gender  Age  STAI  Type_AB
0       17    Male   22    34       29
1       81    Male   23    31       20
2       44    Male   70    30       39
3       43  Female   61    31       32
4       20  Female   24    43       69

In [37]:
print(len(df.Subject.unique()))
print(df.shape)
print(df.head())

46
(132789, 13)
   Time     Speed  Acceleration  Steering  Lane.Position  Breathing  Heart  \
0     1  0.013002           0.0  0.001534        1.92500        NaN    NaN
1     2  0.012978           0.0  0.001534        1.92500        NaN    NaN
2     3  0.012996           0.0  0.001534        1.92500        NaN    NaN
3     4  0.017026           0.0  0.001534        1.92500        NaN    NaN
4     5  0.366060           0.0  0.012454        1.92499       17.1   58.8

         Palm  Perinasal  Distraction  Drive  Subject Drive_Label
0         NaN        NaN            0      0        1          RD
1         NaN        NaN            0      0        1          RD
2         NaN        NaN            0      0        1          RD
3         NaN        NaN            0      0        1          RD
4  103.449492   0.005336            0      0        1          RD

In [38]:
merged_df = df.merge(bio_stai_df, on="Subject")

print(len(merged_df.Subject.unique()))
print(merged_df.shape)
print(merged_df.head())

32
(111794, 17)
   Time     Speed  Acceleration  Steering  Lane.Position  Breathing  Heart  \
0     1 -0.011065           0.0  0.006903       1.729902        NaN    NaN
1     2  0.021781           0.0  0.006903       1.729901        NaN    NaN
2     3  0.399804           0.0  0.005456       1.729878        NaN    NaN
3     4  0.497087           0.0 -0.020297       1.729929        NaN    NaN
4     5  0.495071           0.0 -0.026979       1.730128      15.96   82.8

        Palm  Perinasal  Distraction  Drive  Subject Drive_Label  Gender  Age  \
0        NaN        NaN            0      0        2          RD  Female   23
1        NaN        NaN            0      0        2          RD  Female   23
2        NaN        NaN            0      0        2          RD  Female   23
3        NaN        NaN            0      0        2          RD  Female   23
4  76.136564   0.005924            0      0        2          RD  Female   23

   STAI  Type_AB
0    40       97
1    40       97
2    40       97
3    40       97
4    40       97

In [39]:
final_df = merged_df.merge(nasa_df, on=["Subject", "Drive_Label"])

print(len(nasa_df.groupby(['Subject', 'Drive_Label']).size()))
print(len(merged_df.groupby(['Subject', 'Drive_Label']).size()))
print(len(final_df.groupby(['Subject', 'Drive_Label']).size()))

print(len(final_df.Subject.unique()))
print(final_df.shape)
final_df.drop_duplicates(inplace = True)
print(final_df.shape)

185
183
161
31
(105758, 31)
(105758, 31)

In [40]:
print(final_df.columns)

Index(['Time', 'Speed', 'Acceleration', 'Steering', 'Lane.Position',
       'Breathing', 'Heart', 'Palm', 'Perinasal', 'Distraction', 'Drive',
       'Subject', 'Drive_Label', 'Gender', 'Age', 'STAI', 'Type_AB', 'Effort',
       'Frustration', 'Mental Demand', 'Performance', 'Physical Demand',
       'Temporal Demand', 'NASA Total Sum', 'NASA Total Sum - Normalized',
       'Effort - Normalized', 'Frustration - Normalized',
       'Mental Demand - Normalized', 'Performance - Normalized',
       'Physical Demand - Normalized', 'Temporal Demand - Normalized'],
      dtype='object')

In [41]:
# This is the final export
# The feature_eng file will read this dataset and proceed next
final_df.to_csv("../../data/sim1/data_2.csv", sep=',', index=False)

In [42]:
###############################################
#              NON-USED CODES
###############################################






###############################################
# for file in nasaFileList[0:1]:
#     wb = xlrd.open_workbook(file)
#     sheet = wb.sheet_by_index(0)
     
# print(sheet)
# print(sheet.nrows)

# for i in range(8, sheet.nrows):
#     for j in range(sheet.ncols):
#         print(sheet.cell_value(i, j))
###############################################









###############################################
# for file_path in stai_file_paths[0:1]:
#     f = open(file_path)
#     # print(f.read()) 
    
#     stai = int(f.readline()[4:])
#     type_ab = int(f.readline()[9:])
    
#     print(tai, ab)
###############################################